<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Select your ASR tool
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <button id="startButton" disabled>start</button>
                    <button id="stopButton" disabled>stop</button>
                    <script>
                        var _stream = null
                        var _context = null
                        var _mediaRecorder = null
                        var _chunks = []
                        const player = document.getElementById('player')
                        var _stream = null
                        var startButton = document.getElementById('startButton')
                        var stopButton = document.getElementById('stopButton')
                        startButton.addEventListener('click', function() {
                            startRecord()
                        })
                        stopButton.addEventListener('click', function() {
                            stopRecord()
                        })
                        const startRecord = function() {
                            console.log('startRecord')
                            startButton.disabled = true
                            stopButton.disabled = false
                            _context = new AudioContext()
                            // const source = _context.createBufferSource()
                            const source = _context.createMediaStreamSource(_stream)
                            const processor = _context.createScriptProcessor(8192, 1, 1)
                            source.connect(processor)
                            processor.connect(_context.destination)
                            processor.onaudioprocess = function(audioProcessingEvent) {
                                // The input buffer is the song we loaded earlier
                                var inputBuffer = audioProcessingEvent.inputBuffer
                                // The output buffer contains the samples that will be modified and played
                                var outputBuffer = audioProcessingEvent.outputBuffer
                                // Loop through the output channels (in this case there is only one)
                                for (
                                    var channel = 0;
                                    channel < outputBuffer.numberOfChannels;
                                    channel++
                                ) {
                                    var inputData = inputBuffer.getChannelData(channel)
                                    var outputData = outputBuffer.getChannelData(channel)
                                    // Loop through the 4096 samples
                                    for (var sample = 0; sample < inputBuffer.length; sample++) {
                                        // make output equal to the same as the input
                                        outputData[sample] = inputData[sample]
                                    }
                                }
                            }
                        }
                        const stopRecord = function() {
                            console.log('stopRecord')
                            startButton.disabled = false
                            stopButton.disabled = true
                            _context.close()
                            // _mediaRecorder.stop()
                        }
                        const handleSuccess = function(stream) {}
                        navigator.mediaDevices
                            .getUserMedia({ audio: true, video: false })
                            .then(function(stream) {
                                startButton.disabled = false
                                _stream = stream
                            })
                    </script>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% for city_weather in weather_data %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ city_weather.city }}</span>
                                        <br>
                                        <span class="subtitle">{{ city_weather.temperature }}° F</span>
                                        <br> {{ city_weather.description }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
</body>

</html>